@model DataAnnotation.Models.ViewModel.ModelForView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post" action="modifyPerson">
           @Html.TextBox("nombre", Model.nombre)
            @Html.TextBox("apellido", Model.apellido)
            @Html.DropDownListFor(Model => Model.idDepartamento, new SelectList(Model.listaDepartamentos.getDepartamentos(), "id", "nombre"))
            <input type="submit" value="Submit" />
        </form>


    </div>
</body>
</html>
