@model DataAnnotation.Models.ViewModel.ModelForView2
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModifyPerson</title>
</head>
<body>
    <div> 
        @Model.nombre
    </div>
</body>
</html>
