
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeVeiw</title>
</head>
<body>
    <div> 
        <!--<a href="">Enlace a listado</a>-->
        @Html.ActionLink("Enlace a listado", "Listado", "Productos")
    </div>
</body>
</html>
