@model SG_PasarDatosAlControlador.Models.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModifyPerson</title>
</head>
<body>
    <div> 
        @Model.Nombre
        @Model.Apellido
    </div>
</body>
</html>
