
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <div> 
        <ol>
            @for (int i = 0; i < 10; i++) {
                    <li>Producto @i</li>
            }
        </ol>
    </div>
</body>
</html>
