@model _07_SG_Ej1Tema8.Models.ViewModel.ModelForView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post" action="ModifyPerson">
            @Html.TextBox("nombre", Model.Nombre)
            <!--<input type="text" name="nombrePersona" value= />-->
            <input type="text" name="apellido" value=@Model.Apellido />
            @Html.DropDownListFor(Model => Model.IdDepartamento, new SelectList(Model.ListDepartamentos.getDepartamentos(), "id", "nombre"))
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
