@model _07_SG_Ej1Tema8.Models.ViewModel.ModelForView2

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>modifyPerson</title>
</head>
<body>
    <div> 
        @Model.Nombre
        @Model.Apellido
        @Model.Departamen.Nombre
      
    </div>
</body>
</html>
