
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 

        <form method="post" action="Index2">

            <p>
                @ViewData["estado"]
            </p>

            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
