.tablaPersonas {
    /*border-radius: 15px 50px;
    background: #73AD21;*/
}

.tablaPersonas > table {
    border-collapse: collapse;
    border: 2px solid blue;
    font-size: medium;
    font-family: 'Times New Roman';
    padding: 10px;
    /*border-radius: 15px 50px;*/
    text-align: center;
    border-spacing: 0;
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tablaPersonas > table > tr {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid blue;
}

.tablaPersonas > table > tr > td {
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid blue;
}

    .tablaPersonas > table > tr > th {
        padding-right: 10px;
        padding-left: 10px;
        background: linear-gradient(to right, rgba(3, 10, 88, 0.74), rgba(115, 155, 226, 0.92));
        /*background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));*/
        border: 2px solid blue;
    }
