.tablaPersonas {
    /*border-radius: 15px 50px;
    background: #73AD21;*/
}

.tablaPersonas > table {
    /*border-collapse: collapse;*/
    border: 2px solid blue;
    font-size: medium;
    font-family: 'Times New Roman';
    padding: 10px;
    border-radius: 15px 50px;
    text-align:center;
    border-spacing:0;
}

.tablaPersonas > table > tr {
    padding-top: 10px;
    padding-bottom: 10px;
    /*border: 2px solid blue;*/
}

.tablaPersonas > table > tr > td {
    padding-right: 10px;
    padding-left: 10px;
    /*border: 2px solid blue;*/
}

.tablaPersonas > table > tr > th {
    padding-right: 10px;
    padding-left: 10px;
    background-color:gray;
    /*border: 2px solid blue;*/
}
