<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<link href="~/Content/StyleIndex.css" rel="stylesheet" />
@*<link href="~/Content/TableStyle.css" rel="stylesheet" />*@
<script src="~/Scripts/ModeloJavaScript.js"></script>
<script src="~/Scripts/Ajax.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<title>Home</title>
</head>

<body>

    <div class="contenedorPrinc" id="contenedorPrinc">

        Ejemplo AJAX

        <div class="tablaPersonas" id="listadoPersonas">

            @*<button class="glyphicon glyphicon-" data-toggle="tooltip" title="sdfgsdfgdfg"  />*@               

        </div>
    </div>

</body>
</html>