<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<link href="~/Content/StyleIndex.css" rel="stylesheet" />
@*<link href="~/Content/TableStyle.css" rel="stylesheet" />*@
<script src="~/Scripts/ModeloJavaScript.js"></script>
<script src="~/Scripts/Ajax.js"></script>

<title>Home</title>
</head>

<body>

    <div class="contenedorPrinc" id="contenedorPrinc">

        Ejemplo AJAX

        <div class="tablaPersonas" id="listadoPersonas">
            
        </div>
    </div>

</body>
</html>