<script src="~/Scripts/ModeloJavaScript.js"></script>
<script src="~/Scripts/Ajax.js"></script>
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
<link href="~/Content/StyleIndex.css" rel="stylesheet" />

@*<div class="jumbotron" id="contenedorPrinc">
  Ejemplo AJAX

    <div id="listadoPersonas">
        



    </div>

</div>*@

<div id="contenedorPrinc">

    Ejemplo AJAX

    <div class="tablaPersonas" id="listadoPersonas">



    </div>

</div>
