
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>
    <div> 
        <p>
            Ha ocurrido un error
        </p>
        @Html.ActionLink("Inicio", "Index", "Home", null)
    </div>
</body>
</html>
